*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type:none;
}
a{
    color: #0D7377;
    text-decoration: none;
}
p{
    color: #F0F5F9;
}
/* -------header----------- */
header{
    background-color:#212121;
    padding: 5px;
}

header h1, h1 a {
    color: red;
    text-align: center;
}
header ul li {
    padding: 10px;
    text-align: center;
    color: #F0F5F9;
}
@media (min-width: 1200px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    header h1{
        padding-left: 30px;
    }

    header ul {
        display: flex;
        padding-right: 50px;
    }
}
/* -------- carrusel --------*/
.carrusel{
    object-fit: cover;
    width: 100%;
    display: flex;
    padding: 2%;

}

/* -------- Main --------*/
body{
    background-color: #323232;
}
.info-portada{
    color: #F8F988;
}
h2{
    color: #F0F5F9;
    text-align: center;
}
/* -------- cajas programas --------*/
h3,h4{
    color: #C9D6DF;
    text-align: center;
}
h4 a{
    color: #C9D6DF;
}

.cajas-programa{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.caja-programa{
    display: flex;
    flex-direction: column;
    border: solid #4e4e4e10;
    width: 90%;
}
.caja-programa h3{
    margin: 10px 0px 15px;
}
.caja-programa h4{
    margin: 15px 0px 10px ;
}
@media (min-width:1200px){
    .cajas-programa{
        display:grid;
        grid-template-columns: repeat(2,50%);
        object-fit: contain;
    }
    .caja-programa{
        width: 100%;
        height: 90%;
    }
}
/* -------- Servis --------*/
.caja-servis{
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.caja-servis div img {
    width: 200px;
    object-fit: cover;
}
@media (min-width:1200px) {
    .caja-servis{
        justify-content: space-evenly;
        margin: 30px 0px 40px;
    }
}
/* -------- footer --------*/
footer{
    background-color: #4e4e4e;
    padding: 15px;
    color: #F8F988;
}
footer ul{
    display: flex;
    gap: 20px;
}
footer div ul li{
    text-align: center;
    color:#F0F5F9;
}
/* -----caja-contacto------- */
.caja-contacto{
    text-align: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}
@media(min-width:1200px){
    .caja-contacto{
        text-align: left;
        padding-left: 30px;
    }
    h3,h4{
        text-align: left;
    }
}